@import "tailwindcss";


@font-face {
  font-family: "Kalice";
  src: url("./font/Kalice-Trial-Italic.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
  font-family: 'Poppins', sans-serif;
}
:root {
  --color-primary: #f1f1f1;
  --secondary-color: #099DD5;
  --secondary-font: "Poppins", sans-serif;
}

body {
  background-color: var(--color-primary);
  font-family: Poppins, sans-serif;
}

.paddingeffect {
  padding: 20px;
}
a:hover {
  color: var(--secondary-color);
}

.textFont {
  font-family: 'Kalice' !important;
}