@import "tailwindcss";

* {
  box-sizing: border-box  ;
}
:root {
  --color-primary:#101010;
  --secondary-color: #099DD5;
  --secondary-font: "Poppins", sans-serif;
  --links-color: #FFFFFF99
;
}

body {
  background-color: var(--color-primary);

}




 @font-face {
  font-family: "MyCustomFont";
  src: url('./fonts/PPEditorialNew-Regular-BF644b214ff145f.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
 }
 @font-face {
  font-family: "light";
  src: url('./fonts/PPEditorialNew-Ultralight-BF644b21500d0c0.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
 }

body {
  font-family: "MyCustomFont";
}