@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box  ;
}
:root {
  --color-primary:#FAF8F1;
  --secondary-color: #099DD5;
  --secondary-font: "Poppins", sans-serif;
  --links-color: #FFFFFF99
;
}

body {
  background-color: var(--color-primary);
}



a:hover {
  color: white;
}


 @font-face {
  font-family: "MyCustomFont";
  src: url('./fonts/PPEditorialNew-Regular-BF644b214ff145f.otf') format('opentype');
  font-style: normal;
  font-weight: 400;
 }

body {
  font-family: "MyCustomFont";
}